html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  font-family: Poppins, sans-serif;
}

#__next {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-container {
  width: 100%!important;
  height: 100%;
  margin: 0!important;
}

.swiper-wrapper {
  width: 100%!important;
}

.swiper-slide {
  width: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}